{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}  

<style>
    h1, h3, h2, p {text-align: center;}
    h1, h3, h2, p , th{color: #4D4771}
    th {text-align: center;}
    div {text-align: center;}
    
    table, th, td {
        background-color: #5C95FF;
        text-align: center;
        border-radius: 5px;
    }
    body {
      margin: 10;
      background-color: #66B9F4;
      height:100vh;
      color:#fff;
    }



    input.btn.post-btn {
        outline: none;
        border: none;
        cursor: pointer;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        background-color: #47AB11;
        color: #fff;
        border-radius: 4px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 17px;
    }

    button.cancel-btn {
        outline: none;
        border: none;
        cursor: pointer;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        background-color: #d21b1b;
        color: #ffffff;
        border-radius: 4px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 17px;
    }
    </style>

<h1>Eby's Task Manager</h1>
<h3>Create Task</h3>

    <form method="POST" >  
        {% csrf_token %}  
        <table align="center">  
            <tr>
                <td>Title: </td>
                <td>{{form.title}}</td>
            </tr>
                    
            <tr>
                <td>Description: </td>
                <td>{{form.description}}</td>
            </tr>
            <tr>
                <td>
                    <th><input class="btn post-btn" type="submit" value="Post"></th>
                    <th><button class="cancel-btn"><a href="{% url 'todolist:show_todolist' %}" style="color:rgb(255, 255, 255); text-decoration: none">Cancel</a></button></th>
                </td>
            </tr>
        </table>  
    </form>

{% if messages %}  
    <ul>   
        {% for message in messages %}  
            <li>{{ message }}</li>  
            {% endfor %}  
    </ul>   
{% endif %}

{% endblock content %}