{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    h1, h5, h2, p {text-align: center;}
    h1, h5, h2, p , th{color: #4D4771}
    th {text-align: center;}
    div {text-align: center;}
    
    table, th, td {
      background-color: #5C95FF;
      text-align: center;
      border-radius: 5px;
    }

    body {
    margin: 10;
    background-color: #B9E6FF;
    height:100vh;
    color:#2E2D4D;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    }
    
    table {
        border-style: double;
        border-color: #2E2D4D;
    }


    input.btn.login_btn {
        outline: none;
        border: none;
        cursor: pointer;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        background-color: #47AB11;
        color: #fff;
        border-radius: 4px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 17px;
    }
    
    </style>

<div class = "login">
    <h1>Eby's Task Manager</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <th><input class="btn login_btn" type="submit" value="Login"></th>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <h3>Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a> </h3>

</div>

{% endblock content %}